/* Adjusting web */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Body */
body {
  background: rgb(223, 181, 223);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Cela leva strana */
.container {
  position: relative;
  width: 100vh;
  max-width: 1000px;
  min-height: 1000px;
  background: whitesmoke;
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

/* definisanje leve strane */
.container .left {
  position: relative;
  background: rgb(104, 54, 124);
  padding: 40px;
}

/* Teskst ispod profilne */
.profileText {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* Profilna */
.profileText .imgBx {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.profileText h2 {
  color: aliceblue;
  font-size: 1.5em;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
}

/* odvanjanje dela  */
.profileText h2 span {
  font-size: 0.8em;
  font-weight: 300;
}

.contactInfo {
  padding-top: 40px;
}

/* natpisi */
.title {
  color: antiquewhite;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.contactInfo ul {
  position: relative;
}

.contactInfo ul li {
  position: relative;
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}

.contactInfo ul li .icon {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: rgb(192, 128, 192);
}

.contactInfo ul li span {
  color: rgb(230, 196, 230);
  font-weight: 300;
}

.contactInfo.education li {
  margin-bottom: 15px;
}

.contactInfo.education h5 {
  color: rgb(192, 128, 192);
  font-weight: 500;
}

/* Da bih odvojio ta dva dela dodao sam nth-child da se zna ko je glavni */
.contactInfo.education h4:nth-child(2) {
  color: rgb(230, 196, 230);
  font-weight: 500;
}

.contactInfo.education h4 {
  color: rgb(230, 196, 230);
  font-weight: 300;
}

/* Procenti */
.contactInfo.language .percent {
  position: relative;
  width: 100%;
  height: 6px;
  background: rgb(255, 255, 255);
  display: block;
  margin-top: 5px;
}

/* popunjeni procenti */
.contactInfo.language .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgb(78, 12, 78);
}

/* namestanje profilne da bude u krugu cela */
.profileText .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Desna strana ... */
.container .right {
  position: relative;
  background: rgb(255, 255, 255);
  padding: 40px;
}

.about {
  margin-bottom: 50px;
}

.about:last-child {
  margin-bottom: 0;
}

.title2 {
  color: rgb(104, 54, 124);
  letter-spacing: 1px;
  margin-bottom: 10px;
}

p {
  color: rgb(147, 119, 158);
}

.about .box {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.about .box .year_company {
  min-width: 150px;
}

.about .box .year_company h5 {
  text-transform: uppercase;
  color: rgb(184, 181, 181);
  font-weight: 600;
}

.about .box .text h4 {
  text-transform: uppercase;
  color: rgb(147, 119, 158);
  font-size: 16px;
}

.skills .box {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-items: center;
}

.skills .box h4 {
  text-transform: uppercase;
  color: rgb(184, 181, 181);
  font-weight: 500;
}

.skills .box .percent {
  position: relative;
  width: 100%;
  height: 10px;
  background: rgb(238, 238, 238);
}

.skills .box .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgb(78, 12, 78);
}

.interest ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.interest ul li {
  list-style: none;
  color: rgb(242, 207, 245);
  font-weight: 500;
  margin: 10px 0;
}

.interest ul li .fa {
  color: rgb(192, 128, 192);
  font-size: 10px;
  width: 20px;
}

@media (max-width: 1000px) {
  .container {
    margin: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
  .interest ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .about .box {
    flex-direction: column;
  }
  .about .box .year_company {
    min-width: 150px;
    margin-bottom: 5px;
  }
  .interest ul {
    grid-template-columns: repeat(1, 1fr);
  }
  .skills .box {
    grid-template-columns: repeat(1, 1fr);
  }
}
